<!-- @formatter:off -->
<head>
  <title>Dragon Knight - <%- $package.version %></title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/images/favicon.png">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
  <!------------>
  <!-- Styles -->
  <!------------>

  <!-- build:css /styles/main.css -->

  <!-- Vendors -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css"/>

  <!-- Project -->
  <link rel="stylesheet" href="/styles/main.css"/>

  <!-- endbuild -->

  <!------------->
  <!-- Scripts -->
  <!------------->

  <!-- External Scripts -->

  <!-- build:js /scripts/app.js -->

  <!-- Vendors -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/showdown/dist/showdown.min.js"></script>

  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

  <script src="/bower_components/cm-ng-library/dist/cm-lib.min.js"></script>

  <!-- Scripts -->
  <script src="/all.js"></script>
  <script src="/config.js"></script>

  <!-- endbuild -->

</head>